a {
	color: #08c;
}
a:visited{
	color: #02e;
}
a:hover{
	color: #04f;
}
.logo{
	background: #0bf;
	color: #fff;
	box-shadow: 4px 4px 2px #8aa;
}

.wrapper{
	background: #eee;
}
.nav>li:hover, .nav>li.active{
	background: #fff;
}

.nav>li:hover a, .nav>li.active a{
	color: #222;
}
.nav li a {
	text-decoration: none;
	color: #fff;
}
body{
	background: #eee;
}
.nav{
	background-color: #000;
}
.switch li div:first-child{
	background: #aaa;
	color: #fff;
}

.switch li.active div:first-child, .switch li:hover div:first-child{
	background: #0bf;	
}


table.tbl-money tbody tr td{
	border: #999 1px solid;
}
table.tbl-money tbody tr:hover, table.tbl-money tbody tr.active{
	background: #3af;
	color: #fff;
}

.red{
	background-color: #e33;
}
.red:hover{
	background-color: #e00;
}
.green{
	background-color: #2c4;
}
.green:hover{
	background-color: #0c0;
}

.yellow{
	background-color: #dd0;
}
.yellow:hover{
	background-color: #ee3;
}

.Chartreuse {
	background-color: Chartreuse;
}
.DodgerBlue {
	background-color: DodgerBlue;
}
.LightSeaGreen {
	background-color: LightSeaGreen;
}

.IndianRed{
	background-color: IndianRed;
}