body{	
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 0 0;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.clear{
	clear: both;
}
h3{
	color: #07f;
	font-size: 1.2em;
	padding: 0;
}
.content{
	min-height: 590px;	
	margin: 0 auto;
	max-width: 900px;
	padding: 30px;
}
.clear{
	clear: both;
}





.logo{
	border-radius: 10px;
	width: 300px;
	padding: 10px;
	
	margin-left: 15px;
}

.center{
	margin: 0 auto;
	text-align: center;
}
.center li{
	display: inline-block;
	float: none;
	
}

.nav{
	text-align: center;
	display: block;
	margin: 0;
	padding: 0;
}
.nav>li{
	width: auto;
	display: inline-block;
	transition: background 0.3s;
	min-height: 20px;
	padding: 10px 30px;
	
}

.nav li a {
	text-decoration: none;
}

.right{
	float: right;
	list-style-type: none;
}
.right a {
	text-decoration: none;
}

.switch{
	list-style-type: none;
	display: inline-block;
	text-align: center;
	width: 100%;
}
.switch li{	
	display: inline-block;	
}
.switch li div:first-child{
	padding: 10px 40px;
	display: inline-block;
	cursor: pointer;
	font-size: 23px;
	text-transform: capitalize;
}

.switch-timer{
	padding: 5px;
	font-size: 18px;
}

table.tbl-money{
	width: 40%;
	min-width: 300px;
	margin-top: 30px;
	border-collapse: collapse;
}

table.tbl-money tbody tr td:nth-child(2n){
	text-align: right;
	min-width: 60px;
}

.plus-buttons{
	width: 40%;
	min-width: 250px;
	padding-left: 30px;
	text-align: center;
}

.p-buttons-container{
	
	padding-bottom: 20px;
}

.p-btn-3{
	border-radius: 40px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 0px;
	width: 39px;
	height: 29px;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}


.p-btn-2{
	border-radius: 40px;
	display: inline-block;
	padding-top: 10px;
	padding-left: 0px;
	width: 39px;
	height: 29px;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
}
.p-btn-text{
	border-radius:22px;
	color:#fff;
	cursor:pointer;
	width: 60%;
	padding: 4px 4px;
	margin: 0 auto;
}
