.content{
	min-height: 600px;
	background: #eee;
	border-radius: 10px;
	padding: 30px;
}
.nav-justified{
	text-align: center;
	display: block;
}
.nav-justified>li{
	width: auto;
	display: inline-block;
}
.container{
	margin: 0 auto;
	width: 970px;

}

body{
	background: #fff;
}
.blue{
	background: #0bf;
	border-radius: 10px;
	width: 300px;
	padding: 10px;
	color: #fff;
	box-shadow: 4px 4px 2px #8aa;
}
.padding-30{
	padding: 30px;
}
.ovrtext{
	position: relative;
	font-size: 35px;
	font-weight: bold;
	z-index: 1;
	color: #fff;
	
}
.ovrtext-1{
	color: #444;
	top: -100px;
	left: 340px;
	width: 200px;
	height: 100px;
}
.ovrtext-2{
	color: #444;
	top: -290px;
	left: 410px;
	width: 200px;
	height: 100px;
}
.ovrtext-3{
	
	top: -265px;
	left: 110px;
	width: 200px;
	height: 100px;
}